__pycache__/
*.pyc
*.log

.venv/
venv/

node_modules/
frontend-html/node_modules/

.git/
.vscode/
.idea/

backend/zoundzcope.db
backend/uploads/
alembic_backup/


*.pyo
*.db

.gitignore
README.md
docs
frontend-html/static/analysis
